/* 기본 마진과 패딩 제거 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #010101;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.div-2 {
  max-width: 800px;
  width: 100%;
}

.text-wrapper-2, .text-wrapper-3, .p, .text-wrapper-4 {
  margin-bottom: 10px;
  color: #ffffff;
  text-align: left; /* 왼쪽 정렬 */

}

.text-wrapper-2 {
  font-size: 24px;
  font-weight: bold;
}

.text-wrapper-3 {
  font-size: 20px;
  font-weight: bold;
}

.p {
  font-size: 16px;
  margin-bottom: 30px; /* 간격 늘리기 */

}

.text-wrapper-4 {
  font-size: 18px;
  font-weight: bold;
}

.components-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

.edit-button {
  background-color: #ff0000; /* 빨간색 배경 */
  color: #ffffff; /* 글자 색상 */
  border: none;
  border-radius: 10px; /* 둥근 모서리 설정 */
  padding: 10px 30px; /* 좌우 패딩을 늘림 */
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center; /* 글자를 가운데로 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
}

.edit-button:hover {
  background-color: #cc0000; /* 호버 시 어두운 빨간색 */
}
