.loading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #010101;
    color: #ffffff;
    font-size: 24px;
    position: relative;
  }
  
  .spinner {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid rgba(252, 85, 85, 0.8); /* Custom color */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin-top: 20px;
  }
  
  .log-output {
    position: absolute;
    top: 23%; /* Adjust the value to position the log output above the spinner */
    left: 50%;
    transform: translateX(-50%);
    width: 90%; /* Adjust the width as needed */
    min-width: 300px; /* Set a minimum width */
    max-width: 800px; /* Set a maximum width */
    background: #000000;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    word-break: break-word;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  