.result-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background-color: #000000; /* 배경을 검정색으로 설정 */
    color: #ffffff; /* 텍스트를 흰색으로 설정 */
  }
  
  .video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .download-button {
    margin-top: 20px;
    padding: 10px 110px; /* 편집하기 버튼과 동일한 패딩 설정 */
    background-color: var(--flowkitred); /* 편집하기 버튼과 동일한 배경색 */
    color: var(--flowkitwhite); /* 편집하기 버튼과 동일한 텍스트 색상 */
    text-decoration: none;
    border-radius: 40px; /* 편집하기 버튼과 동일한 둥근 모서리 설정 */
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    align-self: center;
  }
  
  .download-button:hover {
    background-color: rgba(252, 85, 85, 0.8); /* 편집하기 버튼과 동일한 호버 색상 */
  }
  