:root {
  --collection-1-color: rgba(72, 122, 255, 1);
  --flowkitblue: rgba(0, 153, 255, 1);
  --flowkitcharcoal: rgba(34, 34, 34, 1);
  --flowkitgreen: rgba(41, 204, 106, 1);
  --flowkitpurple: rgba(123, 97, 255, 1);
  --flowkitred: rgba(252, 85, 85, 1);
  --flowkitwhite: rgba(255, 255, 255, 1);
}